Demo_flow.json
{
  "name": "Demo flow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <FIRECRAWL_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n\"urls\": [\n\"https://firecrawl.dev/\",\n\"https://docs.firecrawl.dev/\",\n$json[\"Website URL\"]\n],\n\"prompt\": $json.Prompt,\n\"schema\": {\n\"type\": \"object\",\n\"properties\": {\n\"exhibitors\": {\n\"type\": \"array\",\n\"items\": {\n\"type\": \"object\",\n\"properties\": {\n\"name\": { \"type\": \"string\" },\n\"booth_number\": { \"type\": \"string\" },\n\"description\": { \"type\": \"string\" }\n},\n\"required\": [\"name\", \"booth_number\"]\n}\n},\n\"event\": {\n\"type\": \"object\",\n\"properties\": {\n\"name\": { \"type\": \"string\" },\n\"number_of_attendees\": { \"type\": \"number\" },\n\"place\": { \"type\": \"string\" },\n\"website\": { \"type\": \"string\" }\n}\n}\n},\n\"required\": [\"exhibitors\"]\n}\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -160
      ],
      "id": "1e328904-8a34-46cb-a651-c1ba5cb3d554",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "formTitle": "Webscrpper",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Website URL",
              "requiredField": true
            },
            {
              "fieldLabel": "Prompt",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -256,
        -160
      ],
      "id": "ce78a085-9fbe-4ee5-9881-a88a6385e404",
      "name": "On form submission",
      "webhookId": "<REDACTED_WEBHOOK_ID>"
    },
    {
      "parameters": {
        "url": "=https://api.firecrawl.dev/v1/extract/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <FIRECRAWL_API_KEY>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        -160
      ],
      "id": "4e033cbb-dbde-4b3f-9bb5-9292a7afd46b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://website-social-scraper-api.p.rapidapi.com/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "website",
              "value": "https://re25.mapyourshow.com/8_0/explore/exhibitor-gallery.cfm?featured=false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "website-social-scraper-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "<RAPIDAPI_KEY>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        176
      ],
      "id": "455a7df5-e2da-467e-a982-c21bfc9c0cd1",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "ab60d8b7-6f33-42ff-b6b0-5915b701e1e7",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <token>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"urls\": [\n    \"https://example.com/page-to-scrape\"\n  ],\n  \"prompt\": \"Extract the main title and all paragraphs from the page.\",\n  \"schema\": {\n    \"title\": \"string\",\n    \"paragraphs\": \"array\"\n  },\n  \"enableWebSearch\": false,\n  \"scrapeOptions\": {\n    \"onlyMainContent\": true,\n    \"timeout\": 30000,\n    \"parsePDF\": true\n  },\n  \"ignoreInvalidURLs\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        128
      ],
      "id": "ce35cf41-1f8b-4e51-a6c9-8f720f383d16",
      "name": "HTTP Request4"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}